
    <nav>
    <div class="nav-wrapper blue darken-1">
      <a href="/posts" class="brand-logo">Say It Loud</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/posts/create">Create Post</a></li>
        <li><a href="/posts/all">Posts</a></li>
        <li><a href="/posts/hashtags">Hashtags</a></li>
        <li><a href="/search">Search</a></li>
        <li><a href="#" data-target='dropdown1' class="chip dropdown-trigger"><img src={{userimg}}>{{displayname}}</a></li>
      </ul>
    </div>
  </nav>

  {{!-- Dropdown Menu --}}
  <ul id='dropdown1' class='dropdown-content '>
    <li><a href="/profile/{{userfirstname}}">My Account</a></li>
    <li><a href="/logout">SignOut</a></li>

  </ul>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="/posts/create">Create Post</a></li>
          <li><a href="/posts/all">Posts</a></li>
        <li><a href="/user/gimnakatugampala">My Account</a></li>
        <li><a href="/posts/hashtags">Hashtags</a></li>
        <li><a href="/signin">SignIn</a></li>
        <li><a href="#">SignOut</a></li>
  </ul>

  {{!-- {{userimg}}
  {{userfirstname}}
  {{userlastname}}
  {{id}}
  {{displayname}}
  {{googleId}} --}}
