  {{#if posts }}
    {{#each posts}}
      <div class="card feed-post">
          <span class="grey lighten-2 head-section-post">
              <img src={{userimage}} class="img-post-head">
             <a href="/profile/{{username}}" class="by">{{displayname}}
                 <p class="username">@{{username}}</p>
                 <p class="date">{{formatDate createdAt "YYYYMMDD"}}</p>
             </a>
             {{!-- <a href="/posts/{{_id}}" class="view-post">View post</a> --}}
             {{!-- <span class="link-post">
             </span> --}}
          </span>
         {{#if image.length}}
        <div class="card-image">
          <img src="../../uploads/{{image}}" style="height: 300px;object-fit:cover;">
          <span class="card-title">{{title}}</span>
          {{{displayBin ../id userId }}}
        </div>
        {{else}}
        <span></span>
        {{/if}}
        <div class="card-content">
          <p>{{body}}.</p>
        </div>

        <div class="row section" >
         <a href="/posts/{{_id}}" class="col m12 s12">View post</a>
        </div>
    
      </div>
      {{/each}}

      {{else}}
      <p>No Posts..</p>

      {{/if}}

{{!-- Share modal --}}
<span id="modal-parent">

</span>

{{!-- Comment modal --}}
<span class="block-comment">
      {{!-- <input type="hidden" name="firstname" value={{userfirstname}}>
      <input type="hidden" name="lastname" value={{userlastname}}>
      <input type="hidden" name="displayname" value={{displayname}}>
      <input type="hidden" name="userid" value={{id}}>
      <input type="hidden" name="userimage" value={{userimg}}> --}}

</span>

