  {{#if posts }}
    {{#each posts}}
      <div class="card feed-post">
          <span class="grey lighten-2 head-section-post">
              <img src={{userimage}} class="img-post-head">
             <a href="/profile/{{username}}" class="by">{{displayname}}
                 <p class="username">@{{username}}</p>
                 <p class="date">{{formatDate createdAt "YYYYMMDD"}}</p>
             </a>
             <a href="/posts/{{_id}}" class="view-post">View post</a>
             {{!-- <span class="link-post">
             </span> --}}
          </span>
         {{#if image.length}}
        <div class="card-image">
          <img src="../../uploads/{{image}}" style="height: 300px;object-fit:cover;">
          <span class="card-title">{{title}}</span>
          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="far fa-trash-alt"></i></a>
        </div>
        {{else}}
        <span></span>
        {{/if}}
        <div class="card-content">
          <p>{{body}}.</p>
        </div>
        <div class="row section" >
          <a href="#" class="col m4 s4"><i class="far fa-thumbs-up"></i> Like</a>
          <a href="#" class="col m4 s4"><i class="far fa-comment"></i> Comments</a>
          <a href="#{{_id}}" class="col m4 s4 modal-trigger"><i class="far fa-share-square"></i> Share</a>
        </div>
      </div>
      {{/each}}


      {{else}}
      <p>No Posts..</p>

      {{/if}}

{{!-- Share  --}}
<span id="modal-parent">
  {{!-- <div id="modal-main">

  <div class="modal-content">
    <span class="close">&times;</span>
    <h4>Share on Social Media</h4>
    <div class="social">
      <i class="fab fa-facebook"></i>
      <i class="fab fa-twitter"></i>
      <i class="fab fa-google-plus-g"></i>
      <i class="fab fa-instagram"></i>
      <i class="fab fa-reddit-alien"></i>

    </div>

    <div class="copy">
    <input type="text" value="hello" class="copy-input">
    <button class="btn copy-button">Copy Text</button>
    </div>

  </div>

</div> --}}

</span>

