  {{#if single }}
      <div class="card feed-post">
          <span class="grey lighten-2 head-section-post">
              <img src={{single.userimage}} class="img-post-head">
             <a href="/profile/{{single.username}}" class="by">{{single.displayname}}
                 <p class="username">@{{single.username}}</p>
                 <p class="date">{{formatDate single.createdAt "YYYYMMDD"}}</p>
             </a>
             {{!-- <span class="link-post">
             </span> --}}
          </span>

         {{#if single}}
        <div class="card-image">
          <img src="../../uploads/{{single.image}}" style="height: 300px;object-fit:cover;">
          <span class="card-title">{{single.title}}</span>
          {{{displayBin ./id single.userId }}}
        </div>
        {{else}}
        <span></span>
        {{/if}}
        <div class="card-content">
          <p>{{single.body}}.</p>
        </div>
      </div>

     

      {{else}}
      <p>No Posts..</p>

      {{/if}}

       <h6>Comments</h6>
       <ul class="collection">
           {{#if comments}}
           {{#each comments}}
               <li class="collection-item avatar">
                <img src={{userImage}} alt="" class="circle">
                    <a href="/profile/{{displayName}}" class="by">@{{displayName}}
                        {{!-- <p class="username">@{{displayName}}</p> --}}
                    </a> <br />
                <span class="title">{{comment}}</span>
                <a href="#!" class="secondary-content">{{formatDate createdAt "YYYYMMDD"}}</a>
                </li>
           {{/each}}
            </ul>

            {{else}}
            <p>No Comment</p>

            {{/if}}

{{!-- Share modal --}}
<span id="modal-parent">

</span>

{{!-- Comment modal --}}
<span class="block-comment">
      {{!-- <input type="hidden" name="firstname" value={{userfirstname}}>
      <input type="hidden" name="lastname" value={{userlastname}}>
      <input type="hidden" name="displayname" value={{displayname}}>
      <input type="hidden" name="userid" value={{id}}>
      <input type="hidden" name="userimage" value={{userimg}}> --}}

</span>

